<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tabs/overview">
      <ion-icon name="easel-outline"></ion-icon>
      <ion-label>Reviews</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabs/favourites">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Favourites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabs/account">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
